In [14]:
import pandas as pd

ratings1 = pd.read_csv('data/movies_data/ratings1.csv')
ratings2 = pd.read_csv('data/movies_data/ratings2.csv')
movies = pd.read_csv('data/movies_data/movies.csv')
dates = pd.read_csv('data/movies_data/dates.csv')

In [23]:
dates['date'] = pd.to_datetime(dates['date'])
years = dates['date'].dt.year
years.mode()

0    2000
dtype: int64

In [36]:
ratings = pd.concat(
    [ratings1, ratings2], 
    ignore_index=True
)
ratings

print('Number of rows in table Ratings:', ratings.shape[0])
print('Number of rows in table dates:', dates.shape[0])
print(ratings.shape[0] == dates.shape[0])

print(ratings1.tail(1))
print(ratings2.head(1))

Number of rows in table Ratings: 100837
Number of rows in table dates: 100836
False
       userId  movieId  rating
40000     274     5621     2.0
   userId  movieId  rating
0     274     5621     2.0

In [37]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Number of rows in the table Ratings:', ratings.shape[0])

Number of rows in the table Ratings: 100836

In [39]:
ratings_dates = pd.concat([ratings, dates], axis=1)
ratings_dates.tail(7)
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [45]:
joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
joined

merged = ratings_dates.merge(
    movies,
    on='movieId', 
    how='left'
)
merged

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [ ]:
merge_ratings = ratings1.merge(ratings2, how='outer')

In [50]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})

b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})