In [6]:
import pandas as pd
import category_encoders as ce

In [7]:
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
] 

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress

### ПОРЯДКОВОЕ КОДИРОВАНИЕ. ORDINAL ENCODING

In [8]:
# ord_encoder = ce.OrdinalEncoder()
# data_bin = ord_encoder.fit_transform(clothing[['size', 'type']])
# clothing = pd.concat([clothing, data_bin], axis=1)

# clothing

### ОДНОКРАТНОЕ КОДИРОВАНИЕ. ONEHOTENCODING

In [9]:
# encoder = ce.OneHotEncoder(cols=['type'])
# type_bin = encoder.fit_transform(clothing['type'])
# clothing = pd.concat([clothing, type_bin], axis=1)

# clothing

### ДВОИЧНОЕ КОДИРОВАНИЕ

In [10]:
bin_encoder = ce.BinaryEncoder(cols=['type'])
type_bin = bin_encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

clothing

  size   type  type_0  type_1  type_2
0  xxs  dress       0       0       1
1  xxs  skirt       0       1       0
2   xs  dress       0       0       1
3    s  skirt       0       1       0
4    m  dress       0       0       1
5    l  shirt       0       1       1
6    s   coat       1       0       0
7    m   coat       1       0       0
8  xxl  shirt       0       1       1
9    l  dress       0       0       1

In [11]:
list_of_dicts = [
 {'product': 'Product1', 'price': 1200, 'payment_type': 'Mastercard'},
 {'product': 'Product2', 'price': 3600, 'payment_type': 'Visa'},
 {'product': 'Product3', 'price': 7500, 'payment_type': 'Amex'}
]
df = pd.DataFrame(list_of_dicts)

In [16]:
bin_encoder = ce.OneHotEncoder(cols=['product', 'payment_type'])
cats_bin = bin_encoder.fit_transform(df[['product', 'payment_type']])
df = pd.concat([df, cats_bin], axis=1)
df

,product,price,payment_type,price,product_1,product_2,product_3,payment_type_1,payment_type_2,payment_type_3
0,Product1,1200,Mastercard,1,1,0,0,1,0,0
1,Product2,3600,Visa,2,0,1,0,0,1,0
2,Product3,7500,Amex,3,0,0,1,0,0,1